<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nttdata_pokeapi>
            <paramers>
                <url>https://pokeapi.co/api/v2/</url>
                <endpoint>pokemon</endpoint>
                <range_from>1</range_from>
                <range_to>151</range_to>
            </paramers>
        </nttdata_pokeapi>
    </default>
</config>
